JAXBExamples/src/siima/machine2/machine2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- VPA: 2017-05-16 machine2.xsd -->
<!-- VPA: 2017-05-16 how to bind xs:anyType-->
<!-- VPA: 2017-05-16 NOW a named complexType -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="Machine" type="MachineType"/>
<!-- Type has name -->
<xs:complexType name="MachineType">
<xs:sequence>
<xs:element name="Controller" type="xs:string" minOccurs="0"/>
<xs:element name="Series" type="xs:int" minOccurs="0"/>
<xs:element name="Part" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
