JAXBExamples/src/siima/machine/machine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- VPA: 2017-05-16 machine.xsd -->
<!-- VPA: 2017-05-16 how to bind xs:anyType-->
<!-- VPA: 2017-05-16 no named complexType -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="Machine">
<xs:complexType>
<xs:sequence>
<xs:element name="Controller" type="xs:string" minOccurs="0"/>
<xs:element name="Series" type="xs:int" minOccurs="0"/>
<xs:element name="Part" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
